<div class="jumbotron mb-0 bg-white">
  <h1 class="display-1">My Blog</h1>
  <p class="lead">This is a simple Blog with demo components for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <%= link_to "Go to blog page", posts_path, :class=>"btn btn-outline-dark btn-lg", :role=>"button" %>
</div>