<div class="jumbotron mb-0">
  <h1 class="display-4">All Posts</h1>
  <p class="lead mb-0">Awesome content from our authors</p>
</div>

<section class="pt-1 bg-dark">
  <section class="bg-white p-5">
    <div class="container">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card rounded-0 p-1 bg-dark">
              <div class="card-body bg-white">
                <h2><%= post.title %></h2>
                <p><%= truncate(post.body, :lenght => 40)%></p>
                <%= link_to "Read Post", post, :class=>"btn btn-dark" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</section>