<div class="section py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="display-4">New Post</h1>
        <hr>
        <p class="lead">Create new post for this blog here</p>
      </div>
    </div>
  </div>
</div>

<%= render "form" %>